<h1>{{heroName}}</h1>

<dl>
    <td>Nombre:</td>
    <dd> {{heroName}} </dd>

    <td>Edad:</td>
    <dd> {{heroAge}} </dd>

    <td>Método:</td>
    <dd> {{getHeroDescription()}} </dd>

    <td>Capitalizado</td>
    <dd> {{capitalizedName}} </dd>

</dl>

<button 
    *ngIf="heroName !== 'Spiderman' "
    (click)="changeHero()" 
    class="btn btn-primary mx-2">
    Cambiar Nombre
</button>
<!-- //directiva ngif  -->
<button 
    *ngIf=" heroAge !== 25"
    (click)="changeAge()"
    class="btn btn-primary">
    Cambiar Edad
</button>

<button 
    (click)="resetForm()"
    class="btn btn-primary mx-2">
    Reset
</button>