<!--<h1> {{title}} codigo de angular-->
<!-- </h1>
<hr>
<h3>Counter: {{ counter }}</h3>  -->

<!--<button (click)="increasyBy(1)"> + 1</button>metodos y en el paréntesis se envian los parametros de la funcion -->
<!--<button (click)="resetBy()"> Reset</button> 
<button (click)="increasyBy(-1)"> - 1</button>
<hr>
<app-Counter></app-Counter>se declara en app module e declarations -->
<!--<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->
<app-dbz-main-page></app-dbz-main-page>